.miDivision{

    border: red 3px;
    width: 1000px;
    height:700px;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(186, 240, 250);
    
}

.inputText{

    width: 150px;
    height: 35px;
    margin: 30px;
    border: skyblue solid 1px;
    font-size: 10px;
    border-radius: 15px 15px 15px 15px;
}

.myButton{

    margin: 20px;
    background-color: rgb(130, 132, 238);
    border-style: black solid 3px;
    width: 40px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


